@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/keyframes" as *;
@use "../base/colors" as *;


.navbar {
  width: 100%;
  position: sticky;

  &__logo {
    max-width: 200px;
  }

  &__wrapper {
    padding: 20px 0;
    display: flex;
  }

  &__nav {
    display: flex;
    list-style: none;
  }
}