$midnight-blue: rgba(20, 37, 104, .7);
$white-smoke: #ececec;
$forest: #1b4f4a;
$primary-green: #02C700;
$plum: #e698d6;
$royal-blue: #395fcc;
$pale-turquoise: #a9eff6;
$powder-blue: #8fe2f3;
$lavender: #cbc9f3;
$white:#fff;
$medium-purple: #9390ca;
$azure: #ddedf0;
$hot-pink: #f38dc9;
$orange: #f56913;
$chartreuse: #8eff16;
$medium-aquamarine: #55d099;
$steel-blue: #2c7fc9;
$midnight-blue-2: #1e3079;
$midnight-blue-3: #141c3f;
$black: #1b1b1b;
$rebeccapurple: #654a9b;
$medium-slate-blue: #7d5dfa;